[2021-06-16 18:16] privatezero commented on #671
Thanks for reporting this @takahe! We'll add it to the tips for installing in the linux documentation.

[2021-06-18 15:52] dericed commented on #671
@privatezero, closed now, ya?

[2021-06-18 16:28] privatezero commented on #671
@dericed I reckon so!

[2021-06-18 16:28] #671 closed

[2021-06-21 18:19] bturkus opened #673 "m1 mac installation issues"
I finally got my hands on a m1 mac mini, and I'm having some vrecord installation issues. On Big Sur with the latest Desktop Video installed, and using an Ultrastudio HD Mini.

I've tried uninstalling and reinstalling ffmpegdecklink, and even upgraded to HEAD (as of this morning).

Here's the relevant error message:

[code]

[2021-06-22 15:27] BleakleyMcD commented on #673
Same here.

[2021-07-01 00:35] iamdamosuzuki opened #674 "4 Channel Files not being read properly by Adobe Premiere"
Hi! I realize this is more of a Premiere issue than a vrecord issue, but I thought maybe someone here could help me.

I recorded some video files with 4 audio channels using vrecord (a hi8 tape with both PCM and AFM audio). I'd like to edit these files in Premiere, but when I drag the file into Premiere only one of the audio channels is showing up (PCM, in this case the first stereo track).

Does

[2021-07-01 00:41] iamdamosuzuki commented on #674
FWIW, 4 channel Black Magic Media Express files are read properly by Premiere. Rather than 2 audio tracks with 2 channels each it's 1 audio track with 4 channels. Mediainfo only shows the channel count in full mode:

[code]

[2021-07-01 07:41] kieranjol commented on #674
Slightly off topic, but I think 4.0 black magic files always played back weirdly in VLC. Not sure if that’s the case still.

[2021-07-02 20:41] iamdamosuzuki commented on #674
I can confirm that a 4.0 file made in Black Magic doesn't allow channel selection in VLC, but does properly import all channels in Premiere. So, it looks like the method or organizing the audio either works with VLC or Premiere, but not both. Black Magic has chosen to support Adobe's version (makes sense I guess) and not VLC. Is there any way we can develop a mapping that works for both? I think f

[2021-07-02 20:58] privatezero commented on #674
Super weird that Premier is choking on two stereo tracks! If you find something that seems feasible, it wouldn't be hard for us to add another mapping.

[2021-07-02 21:39] iamdamosuzuki commented on #674
I'd love to figure out some way to make it work with BOTH! In the meantime here's something that seems to work. This string was able to convert a vrecord file to format that mimics the Black Magic version, which works on Adobe but not VLC. This string is modeled after the Black Magic version which is 4.0 and not quad. Personally I think the quad mapping is closer to what's going on here to 4.0, bu

[2021-07-29 23:53] dericed commented on #629
Closed by https://github.com/amiaopensource/vrecord/pull/653 :) Thx @tinytomato!

[2021-07-29 23:53] #629 closed

[2021-07-30 02:24] dericed commented on #568
@privatezero, can you retest with main

[2021-08-10 01:47] iamdamosuzuki commented on #673
This info was available on the BM forums:

[2021-08-10 01:48] iamdamosuzuki commented on #673
At BAVC we use the DeckLink 4K Extreme, which is on the supported list. We're due to get an M1 mini in the coming weeks, I'll update y'all on whether that works or not.

[2021-08-12 09:33] LLinh-NG opened #678 "Another "File did not pass vrecord policy check for FFV1 video" ? issue"
Hi all,

I am a first-time-user of vrecord. I just installed verecord on BigSur and last week run a test using the basic insturctions. it kind of worked. Now, I wanted to start with the real process and the following warning came up. I am using Deckling 4K extreme 12G.

As an additional note, I just updated my operating system and I also just updated the the Desktop Video software.
When I research

[2021-08-12 17:04] dericed commented on #678
Hi could you send test-vrecord_ffv1.mov.qctools.xml.gz? Does that file exist?

[2021-08-12 17:05] dericed commented on #678
Also test-vrecord_ffv1_mediaconchreport.xml

[2021-08-13 11:36] LLinh-NG commented on #678
Hi,

these are all the files I generated as a test. Unfortunately, Github doesnt support the "test-vrecord_ffv1_mediaconchreport.xml" file. Can I convert to you into a preferred file typ?

[test02_ffv1.mov.qctools.xml.gz](https://github.com/amiaopensource/vrecord/files/6982154/test02_ffv1.mov.qctools.xml.gz)

https://user-images.githubusercontent.com/83635863/129351182-8d0df00c-cfbc-4f97-b4a6-97de

[2021-08-13 11:58] dericed commented on #678
If you zip the xml, you should be able to attach it. Or paste the contents into gist.gitHub.com and share the link here.

[2021-08-13 12:25] LLinh-NG commented on #678
Ah, thanks for the advice. Zipping worked.

[vrecord-test02_ffv1_mediaconchreport.xml.zip](https://github.com/amiaopensource/vrecord/files/6982363/vrecord-test02_ffv1_mediaconchreport.xml.zip)

[2021-08-17 11:54] LLinh-NG commented on #678
Dear Dave,
FYI, I downgraded the OS now to macOS Catalina. Now it works although the same notification appears whereas in BigSur the file wouldnt even generate. Lmk if you need more info.

[2021-08-17 13:30] dericed commented on #678
Thx, thx, I should be working on this today. Btw, you're using the latest release rather than git-main, right?

[2021-08-17 13:56] LLinh-NG commented on #678
Correct.

[2021-08-18 20:05] dericed commented on #586
Haven't been able to recreate. Will close but please reopen if this still occurs. Am guessing isn't related to ffplay/sdl2 in the ffmpegdecklink build.

[2021-08-18 20:05] #586 closed

[2021-08-18 20:08] dericed commented on #532
Should we close this or is there any documentation updates to consider?

[2021-08-18 20:15] dericed commented on #568
@privatezero what should cause the VRECORD_VARS_FILE to be regenerated?
@retokromer could you describe the scenario you mentioned. IIUC, this issue would happen if you had an ffmpeg installed that is match by one of the `else` conditions in https://github.com/amiaopensource/vrecord/blob/3adb39cf79c2778967596928607c3b12bbfc8248/vrecord#L206-L228, then you install the ffmpeg referenced in the primar

[2021-08-18 20:16] dericed commented on #583
Will close, but I think the updates in dvpackager in the dvrescue project should facilitate rewrapping the dv stream with audio normalized to 48k to solve the referenced issue.

[2021-08-18 20:16] #583 closed

[2021-08-18 20:17] dericed commented on #585
closing as fixed, reopen if that seems untrue.

[2021-08-18 20:17] #585 closed

[2021-08-18 20:23] dericed commented on #658
@bturkus, I think this is from testing before https://github.com/amiaopensource/vrecord/commit/7adbe8913a8bc6b4b77d3bc1aee944d389a2c87e. If still occurring with git-main, please reopen.

[2021-08-18 20:23] #658 closed

[2021-08-18 20:24] dericed commented on #669
@NMAAHC, will close, please reopen if this is still an issue in git-main or the soon release.

[2021-08-18 20:24] #669 closed

[2021-08-18 23:47] jshupeGitHub commented on #532
Hi Dave,

Not sure what this ticket was for.  Jim Shupert no longer works here.

Thank you,

Jim

 <http://www.theppsgroup.com/>

Jim Bird

PPS Group

424 Scott Blvd.

Covington, KY 41011

Office  (859) 292-1150

Mobile (513) 708-4656

 <http://www.theppsgroup.com/> www.theppsgroup.com

From: Dave Rice ***@***.***>
Sent: Wednesday, August 18, 2021 4:08 PM
To: amiaopensource/vrecord ***@***.***>
Cc

[2021-08-19 07:42] retokromer commented on #568
@dericed It was a while ago and I don’t remember the exact details from the top of my head, but I will try to find it in our logs.

[2021-08-22 20:48] dericed commented on #568
will close. @retokromer, please reopen you can suggest how to recreate.

[2021-08-22 23:37] privatezero commented on #568
Re-opening as this is still an issue, I just haven't thought of a good way to handle it yet (beyond something very blunt like storing a counter and rechecking the variables every 5 times vrecord runs or something like that).

This recently cropped up on my end (linux) again where the version of ffplay-dl stored in the vrecord variables file had developed conflicts with other libraries. Vrecord _wo

[2021-08-23 16:32] privatezero commented on #531
Closing as mostly resolved in https://github.com/amiaopensource/vrecord/pull/614. If there is a continued demand for a VU vs peak meters we could add in future (at the expense of cluttering the GUI a tad more)

[2021-08-23 16:32] #531 closed

[2021-08-31 15:09] CSchloss385 opened #684 "Check Drives"
Sometimes the user will accidentally select a drive that's on a network instead of the local attached hard drive. It would be great to have vrecord check to make sure the selected drive is the one attached to the computer. Maybe ask the user "are you sure this is the drive you want to capture to?"

[2021-09-02 20:40] bturkus opened #685 "no video card seen in latest version"
I'm trying out the latest release of vrecord on a 2019 mac mini (no m1) with big sur, and for some reason I'm not seeing any video cards. Media Express is working fine, and I've tried uninstalling and reinstalling both vrecord and ffmpegdecklink.

also on desktop video 12.1

thanks for any help!

[2021-09-02 22:40] iamdamosuzuki commented on #685
I was able to get my M1 Mac Mini to detect the BM card by enabling System Extensions or Kernel Extensions. Here's a link on how to do it, though you may need IT support do so.

https://iboysoft.com/howto/enable-system-extension-m1-mac.html

[2021-09-02 22:42] iamdamosuzuki opened #686 "vrecord does not detect DeckLink card on Big Sur"
Hi, I'm unable to get vrecord to detect my DeckLink Extreme 4k on Big Sur. I can get Black Magic Desktop Video to see and use the card properly, but vrecord can't see it.

<img width="1202" alt="bigsurvrecord" src="https://user-images.githubusercontent.com/3967767/131925179-75bbd78d-ce62-4584-81da-7941c3856bdf.png">

<img width="912" alt="bigsurbm" src="https://user-images.githubusercontent.com/39

[2021-09-02 23:18] privatezero commented on #685
I'll hopefully have access to a mac tomorrow - I'll see if I can reproduce!

[2021-09-03 17:36] iamdamosuzuki commented on #685
Just to clarify, my note about needing "IT support" to do it is in regards to someone working at an institution without admin access. Basically as long as you have admin access you'll be able to enable system extensions.

[2021-09-03 22:20] #686 closed

[2021-09-04 16:32] dericed commented on #685
Should be fixed in https://github.com/amiaopensource/vrecord/pull/687. Please `brew upgrade && echo B)"

[2021-09-04 16:32] #685 closed

[2021-09-04 16:35] dericed commented on #674
Does Premiere support any cases or more than one audio track? I guess vrecord could support a 4 channel single track audio like Blackmagic does, but I wouldn't recommend it because it's so rare that all four channels of a videotape source are intended to be in a 4.0 channel arrangement. 2 tracks of stereo feels like a better default.

[2021-09-04 16:35] dericed commented on #673
This was fixed in https://github.com/bavc/deckcontrol/pull/2. @bturkus & @BleakleyMcD, if still an issue, please reopen.

[2021-09-04 16:35] #673 closed

[2021-09-04 16:37] dericed commented on #506
Who's got this? @XFRCollective 👀

[2021-09-04 16:41] dericed commented on #340
closing as explained in https://github.com/amiaopensource/vrecord/pull/503

[2021-09-04 16:41] #340 closed

[2021-09-14 19:49] #603 closed

[2021-09-20 19:36] iamdamosuzuki opened #689 "Are we using the correct PAR settings?"
Hi, I recently had a convo with somebody on the Black Magic forums about the DAR/PAR/SAR of our files. The dude was a bit curt, but his concern seems to be that we're not using the correct values for these. You can see the post [here](https://forum.blackmagicdesign.com/viewtopic.php?f=21&t=147365).

Just to be clear, I'm using PAR to refer to PIxel Aspect Ratio, where a value of 1 would be square

[2021-09-20 23:04] privatezero commented on #689
I'm a little confused by his assertion `Even if you use 486 then you should not change PARs as those 6 lines should be "forgotten"`, as if we used the PAR for 720x480 and were generating 720x486 files then we would be at a 400:297 DAR rather than a 4:3 (if I am doing my sample commands right).

So yeah - is his argument that we should be cropping to 720x480 and then using 10/11 for PAR?

[2021-09-20 23:32] iamdamosuzuki commented on #689
Yeah his argument is that we should be cropping to 486, and I think most archivists would argue that we don't want to do this. However, it might be worth asking the community whether or not they want this as an option.

More interesting is that he claim the PAR of 9/10 is made up and doesn't exist. I guess the claim is that there has never been any sort of standard or best practice that used a 9/1

[2021-09-21 02:59] nihelmasell opened #690 "About vrecord compatiblity with Ubuntu 20.04"
Hi, I recently had an issue with the workflow I used with vrecord, as I realized: 1) that Blackmagic didnt support the latest MacOs version, to which I upgraded unnoticingly 2) That Blackmagic didnt support my capture device (Intensity Shuffle) anymore, from version 11.7 on. Therefore I had no option than buying a new PC, in which I want to install Ubuntu. It is overall a good machine, with accept

[2021-09-21 03:36] privatezero commented on #690
Hi @nihelmasell! Vrecord has been in fact tested on our end to [Ubuntu 20.04 and 21.04](https://github.com/amiaopensource/vrecord/blob/main/Resources/Documentation/linux_installation.md) and runs well. It is possible that part of the documentation didn't get updated to reflect this - if you let us know where you saw 18.04, I'll update that wording!

[2021-09-21 08:55] alexhabgood commented on #689
Hiya,

I mainly work with PAL, but this article has always provided the best explanation of PAR issues, to my knowledge: https://web.archive.org/web/20110926221502/http://lipas.uwasa.fi/~f76998/video/conversion

I'd also like to see more manual control of pixel aspect ratio in Vrecord. At the moment for PAL it doesn't seem to be taking the horizontal blanking into account, which is resulting in th

[2021-09-21 11:33] nihelmasell commented on #690
![image](https://user-images.githubusercontent.com/41349294/134163309-a4414aa9-2ba9-4988-9e61-65fe65d55d97.png)

Here's the part where I found it. I took a screenshot, don't remember exactly which part it was.

[2021-09-21 11:35] retokromer commented on #690
Thank you, @nihelmasell. This page is indeed quite old and needs to be updated.

[2021-09-21 17:05] privatezero opened #692 "redundant install docs?"
I see that the main [install instructions](https://github.com/amiaopensource/vrecord/blob/main/Resources/Documentation/installation_and_setup.md#installing-vrecord) have some information about linux setup, but no actual link to the separate [linux specific](https://github.com/amiaopensource/vrecord/blob/main/Resources/Documentation/linux_installation.md) page. Would there be any opposition to repl

[2021-09-21 17:48] retokromer commented on #692
Not al all, it’s a good idea!

[2021-09-22 15:19] bturkus opened #693 "audio capture mode sampling rate grayed out"
Hi,

We might be missing something here, but on the latest vrecord (09-03), on macOS Big Sur, we're finding that we can't select between the three audio sampling rates on offer when using Audio Capture mode. It seems to be defaulting to 48 kHz, and clicking around we can't find a way to enable the other options (but switching inputs from Blackmagic to the iMac microphone does seem to reenable the

[2021-09-22 16:48] privatezero commented on #693
Hi Ben,

This is intentional - the Blackmagic FFmpeg device is locked to 48 kHz (as is the Blackmagic hardware itself - right?) so if you are using a Blackmagic device then the GUI won't give you an option to select a sample rate as we don't want people to have any false impressions that their choices are doing anything.

Any suggestions to make that more clear? Maybe a bit of explanation within t

[2021-09-22 17:25] bturkus commented on #693
Oh, that makes a lot of sense, thanks for the clarification. I think when I was testing audio mode in the past, I was using a audiocassette deck and an audio a-d, so I never fully appreciated that we were locking in BM devices at 48 (which does seem like the right thing to do; for some reason I thought we might be allowing people to pointlessly up-sample).

The reason we were interested in other s

[2021-09-22 17:25] bturkus commented on #693
and closing now...

[2021-09-22 17:25] #693 closed

[2021-09-22 19:04] nihelmasell commented on #690
You are welcome! Thank you for making this awesome software! I wish I knew something of programming to collaborate!

[2021-09-22 19:45] kellyhaydon opened #694 "[Wish] Kill Switch for Recording Duration"
As a human, I err, and sometimes forget to change the record duration before capture, or set it incorrectly. Would vrecord benefit from a hotkey that resets the timed duration during capture?

Something like: 'ctrl + nm' with a cowsay that says "your capture is no longer timed, don't forget to turn off your capture" or some such. 😇

[2021-09-22 20:12] privatezero commented on #694
Not sure this would be possible as once the record command is kicked off via FFmpeg the [timed duration value](https://github.com/amiaopensource/vrecord/blob/main/vrecord#L2321) is an integrated part of that command and could only be changed by kicking off an entirely new FFmpeg command. Once record mode kicks off, you are pretty much strapped in to your destiny.

It would be possible to have it s

[2021-09-22 22:07] dericed commented on #694
Ya, we'd have to switch from using `-t $DURATION` to running another process that sleeps for that long, then kills the ffmpeg process. It would lose accuracy but there would be a way to be if the DURATION is up and the user didn't activate the `nm` option.

[2021-09-23 15:03] kellyhaydon commented on #694
Interesting. If there isn't wide user support for such a feature, I do think it would help to have a screamer for confirmation. To avoid annoying some users, perhaps the screamer could be a setting that could be turned off or on?

[2021-09-23 21:53] iamdamosuzuki commented on #674
Premiere likes the Black Magic configuration. I don't think it's "correct" but it works with other software. Resolve is able to read the audio channels either way, but won't export interlaced files so it's not a viable tool.

[2021-09-23 22:31] iamdamosuzuki commented on #674
For what it's worth, this is the file that Adobe creates if you export 4 channels.

[code]

[2021-09-24 05:51] retokromer commented on #674
I also have this feeling. In Switzerland there are political videotapes with two stereo tracks, the most I have seen are German and French, or German and English. However, I guess once, I came across a real 4.0 in an art video.

[2021-09-24 18:36] iamdamosuzuki commented on #674
Is this maybe something we can petition Adobe about supporting as a community? It's so strange that the second audio track is simply not supported at all in Premiere. At this point if I need to edit a 4 channel file I need to run my ffmpeg command mentioned above on it and create an entirely new file with 4.0 audio.

[2021-09-24 18:46] retokromer commented on #674
In my experience Adobe is open for suggestions.

[2021-09-24 19:05] iamdamosuzuki commented on #674
haha wow i just installed the latest version of premiere and it fixed the problem. Quite amazing.

[2021-09-24 19:05] #674 closed

[2021-10-04 17:07] iamdamosuzuki commented on #694
I use vrecord almost every day and rarely ever use this feature. It's mostly helpful for testing purposes, but is rarely useful in my digitization workflow.

[2021-10-04 17:11] dericed commented on #694
@iamdamosuzuki, how do you know when to end the capture? Is it a judgement call each time or anything that some analysis could decipher?

[2021-10-04 17:15] iamdamosuzuki commented on #689
Thanks for that link, I finally got around to reading it enough times to understand it. If I'm reading it correctly the author is basically saying that the full 720x486 pixels shouldn't actually be 4:3, and that instead the active video portion (710.85 x 486) should actually be 4:3, and this is done with a 0.91 PAR.

If this is correct then vrecord is handing aspect ratio incorrectly. The assumpti

[2021-10-05 08:59] alexhabgood commented on #689
Hiya,

Yes, this matches my understanding and seems to be confirmed by my reading of video standards. This is how it works for PAL:

ITU-R BT.470 states that each line of PAL video has length period of 64µs. Of this, roughly 52µs constitutes active video. ITU-R BT.601 states that SD video should be sampled at 13.5MHz. Therefore:

BT.601 also states that 720 pixel samples should be allocated to eac

[2021-10-05 20:26] privatezero commented on #689
I'm curious how other commonly used capture software treat this - looks like (at least according to this) Premier will set pixel aspect [ratio to 0.9 for 720 x 486](https://helpx.adobe.com/premiere-elements/using/aspect-ratios-field-options.html) capture, @iamdamosuzuki do you know what the Blackmagic capture soft is pumping out?

[2021-10-05 20:33] bturkus commented on #689
had the same thought yesterday. Media Express giving this in MediaInfo:

<img width="419" alt="Screen Shot 2021-10-05 at 4 31 54 PM" src="https://user-images.githubusercontent.com/8987230/136098401-76ae17a5-9f4a-48b3-a5a6-4325d41ad49d.png">

[2021-10-06 13:53] alexhabgood commented on #689
For PAL:

-Premiere sets the PAR to 1.094 (128:117). See: https://helpx.adobe.com/uk/premiere-pro/using/aspect-ratios.html
-Media Express seems to go for 1.093:
![Screenshot from 2021-10-06 13-10-14](https://user-images.githubusercontent.com/57497331/136200443-32579c95-b575-459e-8c84-d91edf754cd9.png)

_________________________

I suspect Media Express is using 59:54 (as per https://lurkertech.com

[2021-10-06 16:09] privatezero commented on #689
Thanks you both!

Lol - I noticed that the two linked Adobe docs contradict each other - @alexhabgood's looks to be more current so I'd say that it is probably a better source (screenshots for NTSC, but the PAL values were also different)

Older doc:
![image](https://user-images.githubusercontent.com/12941699/136240599-0cb1f294-9daf-4577-a24a-0dcd76e9823c.png)

Newer doc:
![image](https://user-ima

[2021-11-25 18:39] geskalney commented on #609
I would like to request the ability to define the aspect ratio. I have a lot of DV tapes that were recorded in 16:9. Many of these tapes were recorded on Panasonic AG-DV1000 decks. vrecord doesn't seem to support or recognize the aspect ratio.

[2021-11-29 16:12] jbbenoit73 opened #696 "problem with brew install gtkdialog"
Hello, i can't install gtkdialog.
Have a look :

++++++++++++++++++++++++++++

jbbenoit@jbbenoit-MacBookPro:~$ brew install gtkdialog
==> Downloading https://github.com/puppylinux-woof-CE/gtkdialog/archive/0.8.4d.t
Already downloaded: /home/jbbenoit/.cache/Homebrew/downloads/9ad1b9aa93836cdde8a71070ff94b52c7c4d75777648ab8dc3bab09b9d35dd8e--gtkdialog-0.8.4d.tar.gz
==> Installing gtkdialog from amia

[2021-11-30 08:44] jbbenoit73 commented on #696
Hi @privatezero. Thank you. I try it, look...

jbbenoit@jbbenoit-MacBookPro:~$ makeinfo
makeinfo: missing file argument.
Try `makeinfo --help' for more information.

[2021-11-30 09:31] jbbenoit73 commented on #696
jbbenoit@jbbenoit-MacBookPro:~$ apt-file search bin/makeinfo
texinfo: /usr/bin/makeinfo
jbbenoit@jbbenoit-MacBookPro:~$ apt-file search makeinfo
emacs-common: /usr/share/emacs/26.3/lisp/textmodes/makeinfo.elc
emacs-el: /usr/share/emacs/26.3/lisp/textmodes/makeinfo.el.gz
manpages-ja: /usr/share/man/ja/man1/makeinfo.1.gz
manpages-zh: /usr/share/man/zh_CN/man1/makeinfo.1.gz
manpages-zh: /usr/share/ma

[2021-12-01 09:37] jbbenoit73 commented on #696
Hello
I re-installed texinfo and **brew install gtkdialog** succeeds, the next steps are ok and Vrecord works.
@privatezero, thanks for your help.

[2021-12-01 19:31] privatezero commented on #696
Thanks for the update - glad it worked!

[2021-12-01 19:31] #696 closed

[2021-12-10 21:45] lawrenceaj opened #697 "vrecord ending capture prematurely"
Hi-

We're starting up digitization in our lab after a long pandemic break and I'm having an issue where vrecord ends capture after about a minute. I can't pinpoint the issue, but here is the terminal output:

`
/Users/medialab
≈:≈ vrecord -e
And place logs at /Users/medialab/Desktop/HBW too.
Summary: FFV1 version 3/matroska yuv422p10 file from ntsc sdi analog. Frame MD5s=No, QCTools XML=Yes, afte

[2021-12-15 09:52] retokromer commented on #635
Closing as it seems not to be of interest.

[2021-12-15 09:52] retokromer commented on #636
Closing as it seems not to be of interest.

[2021-12-15 09:52] #636 closed

[2021-12-15 11:13] kieranjol commented on #635
I'd suggest re-opening. I am partially colourblind and this would be of interest to me.

[2021-12-15 15:05] dericed commented on #635
Reopened :D

[2021-12-15 15:26] retokromer commented on #635
The very reason reason why I tried first to suggest to amend a patch and then to open an issue is actually that we do have colour blind people working at our company.

[2021-12-29 21:46] beccabender opened #699 "Audio Only Capture Conversion Failed"
Hi All,

This is VERY likely user error, but I'm trying to do audio-only capture for the first time, using a Blackmagic Ultrastudio Express, and I can't get it to work. (Video capture is working fine).

If I set my audio device to the Blackmagic, it doesn't seem to read anything in the audio levels:

<img width="460" alt="Screen Shot 2021-12-29 at 4 41 16 PM" src="https://user-images.githubusercon

[2021-12-29 23:58] privatezero commented on #699
Hi @beccabender thanks for reporting this! I won't have access to a mac/blackmagic until next week, but I'll take a look then to see if I can reproduce the issue.

[2021-12-30 00:00] privatezero commented on #692
Should be resolved in https://github.com/amiaopensource/vrecord/pull/695

[2021-12-30 00:00] #692 closed

[2021-12-30 15:31] beccabender commented on #699
Thank you @privatezero!

[2022-01-04 21:53] privatezero commented on #699
Hi @beccabender - I had a chance to test this out on my end today with a mac and an Ultrastudio Express and I haven't yet been able to reproduce the problem. There should be some log files that are produced when vrecord runs that contain things like the command it is trying to use. Could you share the contents of those here? They might help in figuring out where things are getting tangled.

[2022-01-05 22:42] privatezero opened #700 "Audio + Video with PAL input"
Audio + Video mode seems to possibly have issues when using a PAL input rather than NTSC. Needs to be tested with a couple more tapes and fixed if needed!

[2022-01-05 23:17] bturkus commented on #700
I can confirm this (and also apologize for not reporting it months ago!)

Sent from my iPhone

[2022-01-06 16:38] privatezero commented on #700
Thanks for the confirmation! That filter is stretched pretty thin, so not surprised that something went a little wonky - I'll look into seeing what will make it happy.

[2022-01-06 20:09] beccabender commented on #699
Thank you so much @privatezero for testing it so quickly. Due to some current computer limitations around here, I don't think I'll be able to try again and send you the log files until early next week. Thank you!

[2022-01-07 13:49] beccabender commented on #699
Actually, I just realized that I still had those logs on my home computer. They're attached here. Thanks!
[Test_BM_vrecord_input.log](https://github.com/amiaopensource/vrecord/files/7829149/Test_BM_vrecord_input.log)
[Test_BM_capture_options.log](https://github.com/amiaopensource/vrecord/files/7829150/Test_BM_capture_options.log)
.

[2022-01-07 23:28] JMY1000 opened #703 "Dropped frames cause audio sync issues while capturing Video8/Hi8"
I’m currently attempting to digitize a number of Hi8 and Video8 tapes. These tapes are as-is from the camera; as such, there are imperfections in the originals recordings, including blank sections between clips and occasional damaged frames (particularly at the start of tapes and between clips). These discontinuities appear to be causing dropped frames—not ideal, but given that there’s not really

[2022-01-10 17:22] privatezero commented on #700
Resolved in https://github.com/amiaopensource/vrecord/pull/702#event-5867589278

[2022-01-10 17:22] #700 closed

[2022-01-11 01:20] privatezero opened #705 "Inconsistencies with Preview button"
When vrecord GUI is launched via `vrecord` the Preview button will instead launch record mode and prompt for input. Order of conditionals and functions around [line 2240](https://github.com/amiaopensource/vrecord/blob/main/vrecord#L2240) needs some tweaking.

[2022-01-13 07:13] retokromer opened #707 "Update date"
The documentation seems to have been updated since two years:

Is it up-to-date with the current version 2022-01-10?

[2022-01-13 16:46] privatezero commented on #707
I would say the documentation is probably mostly out of date (and more up to date than 2020-02), but can't say for certain that it is 100% up to date. I've been trying to review chunks of it and make changes as needed, but haven't been able to look at everything yet.

[2022-01-13 16:50] dericed commented on #707
Will close as I think @privatezero's comment answers the initial question.

[2022-01-13 16:50] #707 closed

[2022-01-25 01:40] ncam610 commented on #561
Hi all, have there been any updates here? I'm looking to tackle a large-scale HDV project and would love to use vrecord. I can get audio from an HDV deck using $ ffmpeg -f avfoundation -capture_raw_data true -i "1:none" out.dv

I can get picture using avfctl and vrecord. Can't seem to get both, though.

Thanks in advance!

[2022-01-25 19:22] ncam610 opened #708 "DVCPro50 and HDV"
I'm wondering if anyone has had any success capturing HDV tapes or DVCPro50 tapes with vrecord?

I have no issue capturing DV and DVCPro25.

I can capture HDV picture without audio in vrecord and can capture audio with scrambled pixels using

DVCPro50 captures have a persistent clicking sound and the audio/video seems to be playing back slightly faster than expected. The audio issue is depicted on

[2022-01-25 22:22] dericed commented on #708
Hi @ncam610, I suggest trying to see if these work in the underlying tools first and if that works then can fix up the process in vrecord. I think you're working on a Mac (based on the qctools screenshot), but please confirm.

Could you install the latest dvrescue with https://old.mediaarea.net/download/snapshots/binary/dvrescue/ and then confirm that `dvrescue --version` corresponds with the late

[2022-01-26 00:45] ncam610 commented on #708
Hi, Dave --

I'm on a Mac Pro (Late 2013) -- macOS 10.15.7.

Installed: vrecord --version returns DVRescue v.0.21.11.20220122

avfctl -list_devices returns: [0] DV-VCR (Sony HVR-1500) for DV/HDV deck.
avfctl -list_devices returns: [0] AJ-HD1400 (Panasonic AJ-HD1400) for DVCPro deck

**HDV tape with bars and tone**
avfctl -cmd capture --> [file](https://drive.google.com/file/d/1PLZop0rAGqhxO6EtIAow

[2022-01-27 02:31] ncam610 commented on #708
I did some more HDV testing today with a tape containing both DV and HDV content.

Using "avfctl -cmd capture" I was able to create SD files with sound. Using the same command, but playing the HD section of the tape, the files created contain no sound -- no audio tracks reported in MediaInfo. I am able to play/record sound from the HD section of the tape using a movie record in Quicktime Player.

[2022-01-27 19:26] dericed commented on #708
Hey @ncam610, with the HDV tape playing in an attached deck, can you try this:

` ffmpeg -f avfoundation -list_devices 1 -i hey`

I'm curious if your HDV deck shows for both video and audio.

You can also try a capture via ffmpeg with:
`ffmpeg -f avfoundation -drop_late_frames 0 -capture_raw_data 1 -i 1 -f rawvideo -map 0 -c copy test.m2ts`

You'll have to have the deck playing to get the capture

[2022-01-28 00:57] ncam610 commented on #708
Hi Dave --
Thanks so much for your continued assistance here.

I tried both commands and this is what I got:

Last login: Thu Jan 27 16:56:28 on ttys000
-bash: /Users/administrator/.asdf/plugins/java/asdf-java-wrapper.bash: No such file or directory

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://su

[2022-01-28 17:08] ncam610 commented on #708
Hi Dave --
Thanks so much for your continued assistance here.

I tried both commands and this is what I got:

Last login: Thu Jan 27 16:56:28 on ttys000
-bash: /Users/administrator/.asdf/plugins/java/asdf-java-wrapper.bash: No such file or directory

The default interactive shell is now zsh.
To update your account to use zsh, please run chsh -s /bin/zsh.
For more details, please visit https://supp

[2022-02-01 21:27] libbyhopfauf commented on #379
To update this, since it seems to maybe still be a problem for some folks, and to clarify, our main issue was a lack of physical support for our TBCs and patchbays. Once that was resolved, this fixed the problem. We still use the "Visual + Numerical" view for passthrough mode to make adjustments prior to each capture, but still need to use "Unfiltered" to capture because our computers (MacMinis la

[2022-02-01 21:37] libbyhopfauf commented on #703
@JMY1000 just to clarify, when you say your deck has a TBC, do you mean it has one built in or it is hooked up to an external TBC or DPS and then routed to your video card? Also, how is your audio hooked up to your video card/routed to your computer?

[2022-02-01 21:39] JMY1000 commented on #703
TBC is built into the deck[s]. Audio is coming directly out of the deck and going right into the card.

[2022-02-01 22:37] libbyhopfauf commented on #708
I was able to previously record audio and video from HDV using vrecord dvcapture, however when I just tried I kept getting "error: artfcl" about a minute after after each attempted capture failed to start. I was using the same deck and tape that had previously proved successful.

[2022-02-01 22:44] libbyhopfauf commented on #705
@privatezero I was just about to post separately about this (but it's an older issue that I've been meaning to create an issue for a bit), but maybe it's related? If not, I can create a new issue:

At MIPoPS all of our computers have a shell script to launch the vrecord GUI (literally just `vrecord -g`) but recently each one had to be changed to vrecord -e to just launch the edit mode instead of t

[2022-02-01 23:32] libbyhopfauf commented on #703
@JMY1000 it's been my experience that with most decks (even ones that are really fancy professional models) the built-in TBC sort of starts to break down and even if it's in decent shape, doesn't seem to be able to keep up with dropped frames and buffer overruns as well as a separate TBC/DPS unit will, especially when it comes to Hi8 and VHS. This will happen during playback as well if you are usi

[2022-02-01 23:48] JMY1000 commented on #703
Not sure if I'm reading this right, but the audio sync issues don't seem to crop up on the deck during normal playback, only on the capture computer. There also aren't any sync issues when recording with VirtualDub2 instead of vrecord, which makes me suspect it's not the TBC—especially since the results are the same with both decks. I would test with an external TBC just to confirm this, but I unf

[2022-02-02 00:18] ncam610 commented on #708
Interesting update: I was able to record HDV picture and video with Linux + ffmpeg. Not able to record anything from DVCPro, though. Trying a clean install of Mac OS 10.11.6 on an older Mac Mini to see if that results in anything different.

[2022-02-02 00:19] libbyhopfauf commented on #703
I apologize, I meant that the dropped frames will be present during playback. In my experience, when a TBC/DPS cannot keep up with dropped frames or buffering other issues, it results in PTS discontinuities and buffer overruns that then cause the audio to be out of sync. It might also have to do with the difference between your Windows set-up and your Mac because given the age of the Mac and the l

[2022-02-02 00:19] ncam610 commented on #708
I tried vrecord dvcapture and got the same avfctl error as you did. I haven't tried previously iterations of vrecord, though.

[2022-02-02 02:47] JMY1000 commented on #703
Ah, gotcha, no worries.

The logs don’t show any evidence of buffer overruns, only periods where no input is detected. I’m not sure if there’s a significant distinction on the vrecord side between the two though.

I don’t believe it’s related to the capture computers, as CPU load is quite low during capture (even on the Mac Pro) and Blackmagic Media Express also drops frames when running on Window

[2022-02-02 09:22] jbbenoit73 opened #709 "EXIT=audiopassthrough"
Hello,
I have got 2 issues.
First : in the vrecord audio tab, the "audio device" column is empty while there are two audio cards.
Second : in the home menu, when i load "Audio Check" Vrecord exits and sends the message
"numerisation@numerisation:~$ vrecord -e
 2022-02-02T10:18:10 - vrecord exited a form in an unexpected way (EXIT=audiopassthrough), please report this error to https://github.com/am

[2022-02-02 16:59] #705 closed

[2022-02-02 18:47] privatezero commented on #709
Hi @jbbenoit73 - thanks for reporting this! I think I've figured out the [glitch causing the button problem](https://github.com/amiaopensource/vrecord/pull/710).

When I get a chance I'll take a deeper look to see if I can notice anything that might be creating errors with the device list.

[2022-02-02 19:07] dericed commented on #708
Hi @ncam610, I reviewed the dv50 file and while I hear the audio clicking issue you mention I'm not sure if there's a dv specific error here. When you play the tape from the deck is the audio any different? Could you try a different tape?

[2022-02-02 22:55] privatezero commented on #709
@jbbenoit73 - vrecord relies on parsing the output of arecord to populate the list of audio devices on Linux. Could you tell me what the output of `arecord -l` is on your end?

arecord should come installed as part of the system, but if for some reason you don't have it, try installing with `sudo apt install alsa-utils`

[2022-02-03 01:57] ncam610 commented on #708
Hi Dave,

Same issue with multiple tapes, multiple decks, and -- now -- multiple Macs. Seems like it's around 1.25x playback speed. I've tried slowing down the file to 0.5x and that's too slow. 1x is too fast. Not sure what else to try here. This problem is specific to DVCPro50. DVCPro25 is no problem.

[2022-02-03 14:51] dericed commented on #708
Have you captured the DV50 tape by any other tools? I'd be interested in a 'correct' copy to compare to the one you sent.

[2022-02-03 17:57] dericed commented on #666
Checking into this, nearly a year later and can't recreate. Still a thing?

[2022-02-03 18:34] ncam610 commented on #708
Dave -- I'm fairly certain that this tape was captured at 24p, which I've just discovered. Our DVCPro deck plays back everything at 59.94i and I'm reading in a camcorder manual that the footage could still have been recorded at 23.976. A test capture with QuickTime confirms a playback framerate of 23.976 for the tape. The QuickTime file looks/sounds perfect. Is there any way to force a capture/pla

[2022-02-03 19:02] dericed commented on #708
Are you using QuickTime 7 or earlier or QuickTime X or later?
The SMPTE 314M spec doesn't document a 23.976 option. I can dig into the later IEC documents to find where the DV encoding notes this. I suspect that a 24000/1001 DV recording is very similar to a 25 or 30000/1001 recording but duplicates a frame now and then. The sample you send it color bars so I can't catch if that's what's happening

[2022-02-03 19:05] ncam610 commented on #708
QuickTime 10.5.

I'm referencing the following page from a Panasonic camcorder manual: https://www.manualslib.com/manual/117242/Panasonic-Aj-Sdx900p.html?page=29#manual

I'm not sure how to reconcile this information with the commands I'm using on ffmpeg.

[2022-02-03 19:18] ncam610 commented on #708
Here's a screengrab of the metadata from the file captured with Quicktime.
![Screen Shot 2022-02-03 at 11 14 58 AM](https://user-images.githubusercontent.com/98367554/152413406-1998381a-a5b6-424a-8e87-ab9393d65c5f.png)

[2022-02-03 19:22] dericed commented on #708
It makes sense but it's unfortunately that QuickTime X can't encapsulate the dv into a container so I could compare better. Here the capture decodes the DV input correctly but transcodes it to h264. Do you have access to any other tools that can read the source as DV, maybe Premiere?

[2022-02-03 19:27] ncam610 commented on #708
I can try Premiere next. Ffprobe of the 1394 input while playing the tape confirms framerate of 23.98.

[2022-02-03 20:58] dericed commented on #708
Can you make a capture of the dv via ffmpeg, like with the avfoundation command above?

[2022-02-03 22:12] ncam610 commented on #708
- I'm getting the correct specs using this command:
ffmpeg -f avfoundation -drop_late_frames 0 -capture_raw_data 1 -i 1 -f mxf -map 0:0 -c copy -r 24000/1001 test.mxf
...but the file is silent. There are four channels of 16/48 audio in the file, but nothing in those.

- ffmpeg -f avfoundation -drop_late_frames 0 -capture_raw_data 1 -i 1 -f rawvideo -map 0 -c copy test.mxf
Gives me a file with pic/

[2022-02-03 22:39] dericed commented on #708
Could you share at least 3 secs from the first two commands. Preferably with real world visuals.

[2022-02-04 00:41] privatezero commented on #709
@jbbenoit73 thanks for providing that output, that was very helpful! The problem was the underlying function for populating that list was incorrectly assuming an English output from `arecord`.

We have a patch at https://github.com/amiaopensource/vrecord/pull/713 that will fix this, so should be resolved soon!

[2022-02-04 03:18] ncam610 commented on #708
While I wait for clearance on that, here are some thoughts:

- Is there any way to force 23.976 as a frame rate for the file? FFMpeg doesn't seem to like 23.976 as a framerate for DV video. When I force a framerate (-r or -framerate 24000/1001), I lose audio. I don't know if I need to be mapping streams or anything like that. I've sort of taken a deep dive into ffmpeg in the last week and had no p

[2022-02-06 18:24] jbbenoit73 commented on #709
@privatezero Thanks you.
I tried vrecord by changing the system language settings, it works but I have to go back to the french settings.
Sorry, I'm not a computer scientist, can you tell me how to use the patch? I guess that i have to correct a 'vrecord' file but which one?
Regards. jb

[2022-02-07 18:41] privatezero commented on #709
I'm hoping we can get this fix merged into a new release in the next couple of days, so at that point all you will need to do is update vrecord with `brew update && brew upgrade vrecord` (assuming you used homebrew to install vrecord) to get the fixes.

In the meantime, if you are in a hurry you can download the branch of vrecord that includes the fix [here](https://github.com/amiaopensource/vreco

[2022-02-07 18:43] #684 closed

[2022-02-08 00:10] ncam610 commented on #708
I _almost_ have a solution. I can get video and audio in one file at the correct framerate, but I'm outputting to MXF and it seems that the timecode may be missing. If I pull the clip into DVRescue, I see a string of broken (nonsequential) timecode that matches the deck (where it isn't broken), but when I import into an NLE (Resolve) I don't see any source TC.

Anyway, here's what I did:

- Instal

[2022-02-08 00:26] dericed commented on #708
Can you share the dvrescue xml for that one? Also getting the raw audio from the virtual input to compare to the embedded audio in the DV would be really helpful to figure out what is supposed to be happening. Thanks for sharing all these experiments with us.

[2022-02-08 20:11] ncam610 commented on #708
Yes, I've shared those with you on Google Drive.

It seems that the tape was recorded at 23.98p, but is being output by the deck as 29.97p or 59.94i over 1394. From my understanding of the deck manual (Panasonic AJ-HD1400), there is no way to output 23.98p over 1394 without conversion with this deck. When I force the framerate to 23.98 with ffmpeg, DVRescue still seems to be reading the TC as 29.9

[2022-02-08 20:19] dericed commented on #708
Very surprised to hear you're getting 704x480 over firewire. !_!
Are you able to share test_capture_forupload.mxf too?

[2022-02-08 21:53] ncam610 commented on #708
administrator$ ffmpeg -f avfoundation -i 1:3 -drop_late_frames 0 -capture_raw_data 1 -c copy output.dv
ffmpeg version 5.0 Copyright (c) 2000-2022 the FFmpeg developers
  built with Apple clang version 12.0.0 (clang-1200.0.32.29)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/5.0 --enable-shared --enable-pthreads --enable-version3 --cc=clang --host-cflags= --host-ldflags= --enable-ffplay --enab

[2022-02-08 21:54] ncam610 commented on #708
administrator$ ffmpeg -f avfoundation -i 1:3 -drop_late_frames 0 -capture_raw_data 1 -map 0 output.dv
ffmpeg version 5.0 Copyright (c) 2000-2022 the FFmpeg developers
  built with Apple clang version 12.0.0 (clang-1200.0.32.29)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/5.0 --enable-shared --enable-pthreads --enable-version3 --cc=clang --host-cflags= --host-ldflags= --enable-ffplay --enabl

[2022-02-09 00:20] ncam610 commented on #708
Is there any way we can force vrecord to 50Mb/s and 23.98?

[2022-02-09 10:03] jbbenoit73 commented on #709
Thank you very much.
jb

[2022-02-11 10:53] jbbenoit73 opened #715 "vrecord -a ----> .... No such filter: 'streams'"
Hello,
I've a new issue with another station. 'vrecord -a' fail, please have a look :

numersiation@station-av-lin01:~$ vrecord -a
Input #0, matroska,webm, from 'pipe:':
  Metadata:
    creation_time   : 2022-02-11T10:45:17.788391Z
    ENCODER         : Lavf58.76.100
  Duration: N/A, start: 0.000000, bitrate: 9216 kb/s
  Stream #0:0: Audio: pcm_s24le, 48000 Hz, 8 channels, s32 (24 bit), 9216 kb/s

[2022-02-11 11:00] jbbenoit73 opened #716 "very low audio level"
Hello,
The recording audio level is really low compared to the input level. What can i do ?
Thanks,
jb

[2022-02-15 00:12] privatezero commented on #716
Hi @jbbenoit73, to clarify - are you using a Blackmagic device and is this during audio only capture or video/audio capture? If using a Blackmagic device, is your audio coming in via the analog inputs or the SDI input?

[2022-02-15 00:19] privatezero commented on #699
Hi @beccabender - I haven't been able to reproduce this yet, part of me wonders if this could be related to an update on the Blackmagic side. Is this still broken for you?

[2022-02-15 10:44] jbbenoit73 commented on #716
Hello ! Thanks for answer. I did various tests with a dv test tape calibrated at 1000 hz at different level | -18 db | -12db | -6db | -3db | 0db. SDI video input (DV-> S-video output -> Converter SDI input -> BMDecklink SDI; DV -> analog audio output -> analog BMDecklink inputs. I had a difference of 10 db constant with Vrecord. Then i tested with MediaExpress, the difference was the same. I chang

[2022-02-15 19:13] privatezero commented on #715
Hi @jbbenoit73 this should have been resolved in the fix that we did to correct the button behavior in https://github.com/amiaopensource/vrecord/commit/3d97afe436f8952469a7527fa76c56a4272cc466 - once we make a new release it should be better.

[2022-02-17 10:54] #716 closed

[2022-02-17 10:55] jbbenoit73 commented on #715
Hi.
Thank you.

[2022-02-17 10:55] #715 closed

[2022-02-26 00:52] privatezero opened #721 "maintainers in README"
Just noticed that we aren't actually following the guidelines provided in the [governance section](https://github.com/amiaopensource/governance#identification-of-maintainers) on maintainers.

We have a 'Team' set up but probably should add a subsection at the bottom of the README

[2022-03-09 21:35] beccabender commented on #699
Hi @privatezero. I'm so sorry I disappeared. There has been a LOT of tech changing around here lately including an OS upgrade as well as audio and computer hardware, so things have been on hold for a while. I will hopefully be able to get back to audio work soon, but please feel free to close this issue. If I run into more problems in the future, it will likely be with a somewhat different setup,

[2022-03-09 22:33] privatezero commented on #699
Thanks for letting us know! Give a holler if the gremlins pop back up in the future!

[2022-03-09 22:33] #699 closed

[2022-03-10 18:30] jimhone opened #722 "vrecord installation issue"
While trying to install record using Homebrew, I consistently get the following message:

Installing dependencies for amiaopensource/amiaos/vrecord: amiaopensource/amiaos/ffmpegdecklink, bash and luajit-openresty
==> Installing amiaopensource/amiaos/vrecord dependency: amiaopensource/ami
Error: An exception occurred within a child process:
  NameError: undefined local variable or method `os' for #

[2022-03-10 18:36] dericed commented on #722
Thanks @jimhone. @privatezero and I were trying to resolve this as it's a regression since https://github.com/amiaopensource/homebrew-amiaos/pull/310/files.

[2022-03-10 19:13] retokromer commented on #722
On my end, https://github.com/amiaopensource/homebrew-amiaos/pull/315 fixes it.

[2022-03-10 19:20] privatezero commented on #722
Hi @retokromer it seems that we might be dealing with a couple of separate issues here - on my end both the current formula as well as https://github.com/amiaopensource/homebrew-amiaos/pull/315 fail to build with the error:

This is fixed by changing the method of OS check along the lines of what is in https://github.com/amiaopensource/homebrew-amiaos/tree/fix-system-check

This lets everything bu

[2022-03-10 20:11] privatezero commented on #722
@retokromer I think I just actually identified the OS check issue - there was a spot where there was a check written as `if os.mac?` instead of `if OS.mac` - but since that has been removed in the version rollback @dericed just did I suppose that is all worked out as well

[2022-03-10 20:17] privatezero commented on #722
@jimhone we've rolled back the version of the dependency causing issue for now - if you run `brew update` and try reinstalling, things should be working now!

[2022-03-10 20:22] retokromer commented on #722
@privatezero Indeed! That’s to enable neon.

[2022-03-10 21:40] jimhone commented on #722
Reinstall went smoothly.  I'm about 40 minutes into an 85 minute capture and things are looking good. If there are any further issues, I'll let you know.

Many thanks for your help.

[2022-03-10 23:11] jimhone commented on #722
Success!

[2022-03-10 23:11] #722 closed

[2022-04-08 22:09] iamdamosuzuki opened #723 "vrecord support for BlueFish444"
I recently had a virtual run-in with Craige Mott of BlueFish and mentioned vrecord. He said he's be interested in having vrecord work with the BlueFish ingeSTore platform. I'm not sure exactly if that makes sense at all, but it seems like the more vendors we can get on the vrecord train the better.

Is anyone interested in having vrecord support for this platform? Is anyone here using BlueFish tha

[2022-04-09 09:24] retokromer commented on #723
If I remember carefully, BlueFish runs on AVID Media Composer under macOS.

[2022-04-18 23:08] XFRCollective commented on #666
Not still a thing! Closing

[2022-04-18 23:08] #666 closed

[2022-05-01 08:43] harrypm opened #724 "Windows 7/10/11 Support?"
Hello,

Just wondering is there any plans or timeline for vrecord to on windows?

For context and if anyone is interested I use Blackmagic hardware for conventional previews and tracking adjustments before full RF copies of tapes are made and decoded with the [VHS-Decode](https://github.com/harrypm/vhs-decode) project as we now have full windows operation viability for RF captures with the [DomesD

[2022-05-10 17:12] privatezero commented on #724
Hi @harrypm, I have never tried it out myself but there are users who are running vrecord on Windows via the Windows Subsystem for Linux functionality. Vrecord itself is written predominantly in Bash and depends on some Unix style tools, so using it's Linux compatibility is going to be the only way to run Vrecord there for the foreseeable future.

I'll have to look more at VHS-Decode - seems like

[2022-05-10 19:11] retokromer commented on #724
Sorry, @harrypm, I missed your post. In the past we used vrecord in the Windows Subsystem for Linux (WSL). Today we run it from Windows Terminal. In both cases vrecord runs actually as a Linux application, as @privatezero said, and not natively in Windows.

I once suggested rewriting `vrecord` in C, because I think the complexity it has now would be easier to port and maintain. In my personal opin

[2022-05-11 06:41] harrypm commented on #724
@privatezero & @retokromer Thanks for getting back to me, and for the info confirming viability, but are there any 1-2-3 docs on this setup wise? as I'm on Win 10 anything GUI is a pain, however, I do plan to move to Win 11 to get better WSL2 support soon, but I would like to know if there are any preferred methods for installing config, usage etc currently for WSL2 Win 10 users and or Win 11 user

[2022-05-12 15:59] privatezero commented on #724
A starting point would probably be the [Linux (Ubuntu) install documentation](https://github.com/amiaopensource/vrecord/blob/main/Resources/Documentation/linux_installation.md), but I assume that some changes would need to be made to that process.

I'd love to get some actual instructions together at some point, but my hardware situation makes testing a little tricky!

[2022-06-06 19:09] JMY1000 commented on #703
Just wanted to check in and see if there are any updates on this.

[2022-06-06 19:40] privatezero commented on #703
Hi @JMY1000, no updates that I am aware of - in my experience on Mac and Linux I've never been able to get a decent capture using a Blackmagic card without an external TBC. Since vrecord is dependent upon Blackmagic hardware, I don't see that being particularly fixable from the vrecord side.

Not sure why you would be seeing a different outcome on Windows with VirtualDub2 though! I unfortunately d

[2022-06-06 20:51] JMY1000 commented on #703
@privatezero Hmm, okay, thanks. What's the reason for external TBCs being more robust than internal TBCs? Also, what TBC[s] are you using for handling damaged media?

[2022-06-09 16:00] privatezero commented on #703
Hi @JMY1000 - can't say I know exactly why the externals seem to do better when used in this process. In terms of what kind we use, for the most part we use Leitch DPS-475s - believe @libbyhopfauf uses the same.

[2022-06-09 16:49] libbyhopfauf commented on #703
MIPoPS uses the Leitch DPS-575s (which are from the same line). I don't know all the engineering specifics either, but my basic understanding is that the external DPS is able to more consistently maintain a clean, stable signal from the deck to the computer, as well as identify/correct tape dropouts that are present on the tape (from breakdown/loss of magnetic coating). The professional, external

[2022-06-09 18:47] libbyhopfauf commented on #703
@JMY1000 @JMY1000 I'm curious about the setup you have that's working. Are you saying that when you are using the Windows+VirtualDub2+Decklink Video Capture setup and are encoding the files as raw video/Lagarith/HuffYUV vs FFV1 that Decklink Video Capture isn't reporting any dropped frames (either during capture or in the logs) or that there aren't any at the same timecodes for the same tape (when

[2022-06-09 23:44] JMY1000 commented on #703
Gotcha, thanks. Given that the dropouts aren't from breakdown/loss of coating and are instead an artifact of the unclean cuts present in the original recording, I'm still a little suspicious that a better DPS/TBC will be able to sufficiently clean-up the signal. I'll take a look at acquiring one though and giving it a shot.

I've noticed that some of the units seem to only have a few connectors on

[2022-06-10 22:25] libbyhopfauf opened #726 "add duration to settings"
For the terminal readout when capturing, it would be great to have the "recording time in minutes" (if entered in the settings menu) included in the selected settings (text in green at the top of the terminal) so that it can be checked if needed during capture without having to open a second vrecord -e window.

[2022-06-10 22:43] libbyhopfauf commented on #703
@JMY1000 I'm not sure why any of those DPS units would come with only a few outputs (I would imagine it's a different model or version). The DPS-575s that we have at MIPoPS look exactly like the manual image.

We use a combination of those two options. All of our analog decks are hooked up to the DPS. For video, the analog outputs are connected to the DPS; SDI from the DPS is routed to BlackMagic

[2022-06-10 22:55] JMY1000 commented on #703
Gotcha, thanks. Have you found the need to set an audio delay or no?

Okay, thanks. That seems like it'd be a useful feature to have, no? I'm guessing that this would be a change that needs to happen upstream in ffmpeg? Is somewhere around [here](https://github.com/FFmpeg/FFmpeg/blob/6f8b8e633205ab690a6a33b139f4e95828e4892f/libavdevice/decklink_dec.cpp#L589) the correct place?

[2022-06-10 23:16] libbyhopfauf commented on #703
No, not with our setup. But depending on other factors in the workflow, others might have found a need to.

Unless it's part of the TBC/DPS processing or from digital-analog error concealment, I don't think that adding an artificial frame would technically qualify as an archival best practice. If that part is blank, it should stay blank and a TBC/DPS would compensate accordingly.

[2022-06-10 23:54] JMY1000 commented on #703
Fair enough. Ideally, it seems like the Blackmagic cards should be able to provide at least some of the signal processing functionality on their own so even partially-complete frames could be captured to the fullest extent possible, but it doesn't look like the Blackmagic API really is giving us a lot to work with. [At least from what I see](https://github.com/kylemcdonald/ofxBlackmagic/blob/maste

[2022-06-11 04:33] retokromer commented on #726
+1

[2022-08-24 18:55] callyho opened #728 "Decklink (?) issue"
Getting an error message on a Mac (OS 10.15.7), Blackmagic UltraStudio HD Mini
[code]
Tried upgrading vrecord and ffmpegdecklink, then uninstalling and reinstalling. Getting this error message now:
[code]
This has happened since we installed the latest OS Security Update and also ran ```update homebrew```.

[2022-08-24 19:25] dericed commented on #728
Try
brew reinstall ffmpegdecklink
```¯\_(ツ)_/¯ ```

[2022-08-24 19:42] callyho commented on #728
That gives me
[code]

[2022-08-24 20:01] dericed commented on #728
:-/
Could you try
[code]

[2022-08-24 20:17] callyho commented on #728
Still
[code]
[code]

[2022-08-25 14:05] callyho commented on #728
FWIW I just tried completely uninstalling homebrew & all packages, then reinstalled homebrew, then tried to install vrecord first thing. It still crashes at the same place in the install.
[code]

[2022-08-26 00:28] michaelangeletti commented on #728
Me too! I had to re-build a workstation (UltraStudio 4K Extreme 3), starting with a fresh install of Mac OS 10.15.7. When I try to install vrecord, I get the same error. Here is the full output from the second try (with all the "Already downloaded"):

`video2@li-sm-7098-818e ~ % brew install vrecord
==> Downloading https://ffmpeg.org/releases/ffmpeg-5.0.1.tar.xz
Already downloaded: /Users/video2/L

[2022-08-28 15:09] retokromer commented on #728
Hello @callyho : could you possibly test if [FFmpeg 5.1](https://github.com/amiaopensource/homebrew-amiaos/blob/ffmpeg_5.1/ffmpegdecklink.rb) rather than 5.0.1 works on your end?
(FFmpeg version 5.1.1 should be published in a couple of days.)

[2022-08-29 00:36] callyho commented on #728
@retokromer I believe I am running version 5.1.
[code]

[2022-08-29 05:58] retokromer commented on #728
@callyho I am speaking here about the FFmpeg flavour with Decklink enabled, which is used by vrecord, not any other regular FFmpeg installation you use for the other tasks.

[2022-08-29 11:52] callyho commented on #728
@retokromer Gotcha. I'm not sure how to test using 5.1 with vrecord? Is there another command I can try other than ```brew upgrade ffmpegdecklink``` or ```brew reinstall ffmpegdecklink```, etc?

At this point I can't get vrecord or ffmpegdecklink to install, reinstall, or update on any of our Macs. Everything is just crashing at the same point with the error messsage
[code]

[2022-08-29 16:03] XFRCollective commented on #728
We are having all of the same issues as @callyho. We followed Reto's steps; vrecord is also having the same errors. This issue is occurring on different machines in different locations. I can work on compiling a list of OS and ffmpeg/ffmpegdecklink versions if helpful.

[2022-08-29 16:51] retokromer commented on #728
@callyho @XFRCollective Should be resolved now. Please test the regular way.

[2022-08-29 19:09] callyho commented on #728
This resolved the issue for us. Thanks @retokromer and @dericed!

[2022-08-29 19:09] #728 closed

[2022-09-01 10:31] retokromer commented on #728
FFmpeg 5.1.1 has been released last night. I made a [PR](https://github.com/amiaopensource/homebrew-amiaos/pull/333) to upgrade as mentioned above.

[2022-09-26 22:58] XFRCollective opened #729 "The domain/default pair of (/Library/Extensions/DeckLink_Driver.kext/Contents/Info.plist, CFBundleVersion) does not exist"
Hello,

We are on MacOS 12.6, ffmpeg 5.1.1, Desktop Video 12.4. Vrecord is giving us this error when we type `vrecord -e`

"The domain/default pair of (/Library/Extensions/DeckLink_Driver.kext/Contents/Info.plist, CFBundleVersion) does not exist"

If we try to record without edit mode, we get the following error: " vrecord exited a form in an unexpected way (P1_ERR=1), please report this error to

[2022-09-27 17:37] privatezero commented on #729
This also seems potentially similar to the issue in https://github.com/amiaopensource/homebrew-amiaos/issues/171, which was resolved by running:

[code]

and then reinstalling ffmpegdecklink

[2022-09-27 18:27] retokromer commented on #729
The [ffmpegdecklink upgrade to FFmpeg 5.1.2](https://github.com/amiaopensource/homebrew-amiaos/pull/334) is also in the pipeline.

[2022-09-27 18:31] XFRCollective commented on #729
Heya! We won’t be at that computer for a few days to try again, but we did
reinstall ffmpegdecklink, reinstall vrecord, brew upgraded several times,
restarted computer to infinity, upgraded OS, Desktop Video, and Xcode. All
the things! Will also try Andrew’s suggestion and report back. Stay tuned.

On Tue, Sep 27, 2022 at 11:28 AM Dave Rice ***@***.***> wrote:

--
XFR Collective

P.I.T.
411 S 5th

[2022-09-28 10:57] retokromer commented on #729
Did you the
[code]
step? This could be the missing part.

[2022-09-28 13:53] XFRCollective commented on #729
Not yet :). We are only at that computer once or twice a week and no remote
access, but I will try to get there tomorrow to test. Thank you everyone
for quick responses.

On Wed, Sep 28, 2022 at 6:58 AM retokromer ***@***.***> wrote:

--
XFR Collective

P.I.T.
411 S 5th Street
Brooklyn, NY 11211
www.xfrcollective.org
***@***.***  ***@***.***>

[2022-10-01 16:10] XFRCollective commented on #729
Hello,

We tbrew unlink decklinksdk
and then

brew reinstall amiaopensource/amiaos/decklinksdk

and got this. Vrecord "record" button is still disabled

==> *Downloading
https://github.com/amiaopensource/SoyDecklink/archive/v10.11.2.t
<https://github.com/amiaopensource/SoyDecklink/archive/v10.11.2.t>*

Already downloaded:
/Users/lispenard/Library/Caches/Homebrew/downloads/5beb3a1bc20b56bbf20610983

[2022-10-06 20:36] ninarao commented on #724
@retokromer when you ran vrecord in Windows Subsystem for Linux, did you also install the Linux version of Blackmagic Desktop Video in WSL?  I'm running Ubuntu 22.04 on Windows 11 via WSL2, and I'm able to follow all of the Linux Ubuntu install documentation for vrecord, except that installing the Linux version of Blackmagic Desktop Video fails due to WSL lacking kernel headers.  Apologies for joi

[2022-10-16 21:38] Chrisedmo commented on #561
has anyone tested this anymore? I'm really concerned that Apple will drop import for DV formats soon, so I'd love an option like this to capture my HDV tapes from my camera. What did you guys (@ncam610 + @bturkus) run exactly to record the HDV ? Thanks.

[2022-10-17 16:33] ncam610 commented on #561
I've been using dvgrab on Ubuntu -- it's less than ideal. Lots of packet corruption and difficult to troubleshoot.

[2022-10-17 17:00] privatezero commented on #561
Hi @ncam610 - have you tried vrecord and/or FFmpeg on Ubuntu? On Linux Vrecord uses FFmpeg's [IEC61883](https://ffmpeg.org/ffmpeg-devices.html#toc-iec61883) device to capture DV, and that device seems to be capable of HDV capture as well.

I, unfortunately, don't have an HDV tape at hand to test so I can't say for sure if this works, but might be worth a shot if you have access to an Ubuntu machin

[2022-10-17 18:22] ncam610 commented on #561
We've tried with ffmpeg. Trying with vrecord now. It looks like capturing to .mov retains the mpeg2 video stream, so that might be a good solution. There was also a warning upon ending capture that the current version of ffmpeg on our computer (4.2.7) could cause out of sync. audio/video.

[2022-10-18 02:24] retokromer commented on #561
FFmpeg 4.2.8 (Ada) has been released a few days ago and this release branch was cut from master three years ago.

[2022-10-18 08:17] Chrisedmo commented on #561
I'm pretty new to this, would someone mind displaying the exact command used to get HDV videos ? I'm not having much luck. Thanks.

[2022-10-18 20:04] ncam610 commented on #561
@Chrisedmo: it's been some time since I've tested, but this should work on a mac:
ffmpeg -f avfoundation -capture_raw_data 1 -i 1:1 -c copy output.m2t

-i is input in the format: [VIDEO:AUDIO], the number being the stream you wish to capture. All available devices can be enumerated by using -list_devices true, listing all device names and corresponding indices.

[2022-10-27 01:17] ncam610 opened #730 "Update documentation: gtkdialog install issues persist with Ubuntu 22.04"
gtkdialog issue noted for Ubuntu 18.04 is persistent when installing with 22.04. The workaround noted here seems to have worked: https://github.com/amiaopensource/homebrew-amiaos/blob/master/TROUBLESHOOTING.md#vrecord.

[2022-10-27 01:22] ncam610 opened #731 "Dependency install error: deckcontrol"
Just received the following error installing vrecord on Ubuntu 22.04. Any thoughts regarding the below log?

[code]

[2022-10-27 17:38] privatezero commented on #730
Thanks for reporting! I'll update the README to just say `Ubuntu` as this seems to be something that is version independent these days.

[2022-10-27 20:34] privatezero commented on #731
Hi @ncam610 thanks for all the reporting! I haven't yet been able to reproduce this on my end, so no solution yet. Not sure if it would impact this part of the install, but as a shot in the dark - did you install the Blackmagic drivers via installing Desktop Video from the first link found [here](https://github.com/amiaopensource/vrecord/blob/main/Resources/Documentation/linux_installation.md#prog

[2022-10-28 07:55] #730 closed

[2022-11-17 18:43] nilsontcarroll opened #733 "MKV file suffers from corruption at certain timecode"
Hello!

Long time vrecord user, but I have noticed a problem where some captures feature a point in the video where it will freeze every time it is played back. I usually notice this when converting the capture MKV to another format, the conversion will break at the same time code.

Vrecord doesn't seem to report any errors when this happens, which is why I'm wondering where the problem might come

[2022-11-18 13:24] alexhabgood opened #734 "Could not create DeckLink iterator."
Hiya,

I recently did a brew update/upgrade on an Ubuntu 20.04.5 LTS workstation, which has vrecord installed. It was working fine before the update, but now vrecord fails to find my decklink duo card. It gives the error:

I've got Desktop Video 12.2.2 installed. Running:

Returns:

Any ideas on how to fix this?
Thanks in advance :)

[2022-11-22 07:09] dcassidy17 opened #735 "gtkdialog install issue OS13.0.1"
Hi,

I'm getting a similar gtkdialog install problem as per troubleshooting, but none of the solutions for linux or other threads are solving my issue.

have installed/reinstalled texinfo and gtkdialog as per below.  texinfo seems to be ok, gtkdialog can't get past the message below. Any help would be really appreciated.

"brew install texinfo"...
Warning: texinfo 7.0 is already installed and up-t

[2022-11-22 19:12] privatezero commented on #734
Hi @alexhabgood, I don't have an Ubuntu 20.04 machine that I can test with an actual Blackmagic device, so I can't try to recreate your issue exactly, so kind of guessing as to possible fixes. Have you tried reinstalling ffmpeg decklink?

[2022-11-23 15:02] alexhabgood commented on #734
Hi @privatezero

Thanks for responding, greatly appreciated.

I've done some updates to my system. Now on Ubuntu 22.04.1 LTS.
Blackmagic drivers have also been updated to the latest 12.4.1.
Have tested Media Express and that's working fine.

Subsequently I tried brew reinstall ffmpegdecklink and that goes through fine without any errors. However, vrecord still doesn't seem to be finding my decklin

[2022-11-23 18:29] privatezero commented on #734
Hi @alexhabgood  - that library is related to the DV capture functionality so that at least suggests a bit of an avenue for trouble shooting. As a bit of triage, does reinstalling ffmpegdecklink without enabling `--with-iec61883` result in a more functional build that at least can work with Blackmagic?

[2022-11-24 10:50] alexhabgood commented on #734
I reinstalled ffmpegdecklink without iec61883. See the attached log.

When I launch vrecord it now gives me the error:

I tried reinstalling libasound2, but that didn't change anything. Decklink card still isn't showing in the settings menu either.

I also ran:

But that seems to be fine (also attached).

[ldconfig.txt](https://github.com/amiaopensource/vrecord/files/10083702/ldconfig.txt)

[ffmpe

[2022-11-25 13:51] alexhabgood commented on #734
Hi @privatezero

Tried running pulseaudio and discovered it was also having dificulty finding shared libraries. Thought it might be something fundamentally broken in my homebrew install, so I completely uninstalled homebrew and all packages. Then tried reinstalling vrecord and managed to get it working. When I did the reinstall I did experience issue #731, but bypassed it by just not installing de

[2022-11-25 13:51] #734 closed

[2022-11-25 13:59] alexhabgood commented on #731
Just adding a comment to say I also experienced this issue. I'm using Ubuntu 22.04, Blackmagic drivers 12.4.1

It's seems to be an issue when trying to install deckcontrol - https://github.com/bavc/deckcontrol with homebrew.

I bypassed it by installing all other vrecord dependencies, except for deckcontrol. Then:
`brew install vrecord --ignore-dependencies`

This produced a working vrecord, just

[2022-11-26 03:25] stevestofiel commented on #735
same error on
<img width="187" alt="image" src="https://user-images.githubusercontent.com/1656798/204070714-ecaefd68-7118-4e18-8914-28ef0a8cc4f4.png">
macOS 13.1

[2022-11-27 19:38] privatezero commented on #731
thanks for the follow up report @alexhabgood - I'll try to take a look at this next week to see if I can recreate on my end. Might be worth building an option to disable deckcontrol install directly into the linux side of the homebrew install

[2022-11-28 23:16] privatezero commented on #735
Hi @dcassidy17 and @stevestofiel, thanks for reporting! I've been able to reproduce this problem on my end as well on a non-M1 mac running OS 13.1. We'll take a look at this to see if we can established what changed in OS 13 that is making this unhappy

[2022-11-29 05:56] retokromer commented on #735
@privatezero Has macOS 13.1 already been released? I ask because when I checked over the weekend it was still in beta and the last version was macOS 13.0.1.

[2022-11-29 16:59] privatezero commented on #735
@retokromer you are correct! I was misremembering what I had upgraded my work Mac to - it is in fact 13.0.1.

In looking at the failed build logs, it appears that the issue is that the path where Homebrew installs binaries (in my case `/usr/local/bin/makeinfo` although I believe that is different on M1 macs) is somehow not getting passed correctly when brew is attempting to install gtkdialog (see

[2022-11-29 17:57] retokromer commented on #735
@privatezero I can look into that probably only on Friday, but there is also the possibility to use Rosetta 2 and install “on x86_64“ on an M1 machine as well:
[code]
I use it for some formulae that still sucks on M1 under macOS 12.6 and/or 13.0.

[2022-11-29 18:12] privatezero commented on #735
@retokromer great! I'm pretty limited in testing time on Mac as well. One note - I'm testing this on an older mac that is not M1 and am still running into problems, so it doesn't seem to me to be related to the difference in chips.

[2022-11-29 18:18] retokromer commented on #735
@privatezero Indeed, I will check also if “something relevant” has been changed in the last months. There were many Brew releases and I didn’t had the time to read all the change logs.

[2022-11-30 00:08] dcassidy17 commented on #735
Hi.  For context, I'm attempting install on a 2017 iMac Pro. 3 GHz 10-Core Intel Xeon W. Ventura 13.0.1

@privatezero is there a workaround somewhere in your reply?

[2022-11-30 00:32] privatezero commented on #735
There is a silly workaround to get an install (although it is not a real solution to the problem). When you run `brew install gtkdialog` and it fails, as part of the error message it should give you a line like:

If you open that file (I used `open /Users/my-user/Library/Logs/Homebrew/gtkdialog/02.make`) then at the very bottom there should be a portion that looks like the `PATH` chunk I pasted in